@import url('https://fonts.googleapis.com/css?family=Oswald');

/* base styles */
* {
  margin: 0;
  font-family: 'Oswald', serif;
}


.panel {
        position: absolute;
        width: 90%; left:5%;
        padding-top: 2%;
        z-index: 2;
}

.open_favs_button{
  z-index: 4;
  position: fixed;
  right: 4%;
  top:89%;
  border-radius: 10%;
  border: 1px solid rgba(255, 166, 0, 0.918);
  color:rgb(39, 38, 38);
  box-shadow: inset 1px  1px 10px orange;
  font-size: 1.5vw;
  width: 10%; height: 10%;
  cursor: pointer;
}


.panel__table {
    width: 70%;
    margin-left: 15%;
    z-index: 2;
    position: absolute;
    padding-bottom: 5%;
}

.panel__tablecell, .panel__tablecell--change, .panel__tablecell--name {
    font-size: 1.5em;
    font-weight: normal;
    border: 1px solid rgb(175, 151, 119);
    border-radius: 3%;
}



.panel__tablecell--position{

  border: 1px solid rgb(175, 151, 119);
  font-size: 2em;

}


.searchbar{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap:1%;
  position: relative;
  width: 70%;
  left: 15%;
  margin-bottom: 2%;
  align-items: center;
  
}

.searchbar__input{
  font-size: 1.7em;
  padding-left: 15%;
  box-shadow: inset 3px 3px 3px khaki;  
  border: 1px solid silver;
}

.filter_dropdown {
  font-size: 1.7vw;
  padding-left: 1%;
  height: 100%;
}