@import url('https://fonts.googleapis.com/css?family=Oswald');

/* base styles */
* {
  margin: 0;
  font-family: 'Oswald', serif;
}

.panel {
        position: absolute;
        width: 90%; left:5%;
        height: 700px;
        padding-top: 2%;
        margin-bottom: 4%;
        z-index: 2;
}

.panel__table {
    width: 70%;
    margin-left: 15%;
    z-index: 2;
    position: absolute;
}

.panel__tablecell, .panel__tablecell--change, .panel__tablecell--name {
    font-size: 1.5em;
    font-weight: normal;
    border: 1px solid rgb(175, 151, 119);
    border-radius: 3%;
}



.panel__tablecell--position{

  border: 1px solid rgb(175, 151, 119);
  font-size: 2em;

}


.searchbar{
  display: grid;
  position: relative;
  width: 40%;
  left: 30%;
  margin-bottom: 2%;
  
}

.searchbar__text{
  font-size: 1.7em;
  padding-left: 5%;
}
